<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2021 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tagintegration>
            <general>
                <enable>1</enable>
				<attribute_blacklist>customerPasswordHash
customerRpToken
customerRpTokenCreatedAt</attribute_blacklist>
                <add_to_cart_event_name>add-to-cart</add_to_cart_event_name>
            </general>
        </tagintegration>
        <mapp_gtm>
            <general>
                <gtm_enable>1</gtm_enable>
                <gtm_datalayer>dataLayer</gtm_datalayer>
                <gtm_trigger_basket>mapp.load</gtm_trigger_basket>
                <gtm_add_to_cart_eventname>add-to-cart</gtm_add_to_cart_eventname>
            </general>
        </mapp_gtm>
        <mapp_connect>
            <general>
                <enable>1</enable>
            </general>
            <export>
                <sync_method>0</sync_method>
                <customer_enable>1</customer_enable>
                <transaction_enable>1</transaction_enable>
                <transaction_retry_max>10</transaction_retry_max>
                <newsletter_enable>1</newsletter_enable>
                <newsletter_retry_max>10</newsletter_retry_max>
                <transaction_send_on_status>new</transaction_send_on_status>
            </export>
        </mapp_connect>
        <mapp_connect_messages>
            <general>
                <enable>1</enable>
            </general>
        </mapp_connect_messages>
    </default>
</config>
