<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2022 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tagintegration>
            <general>
                <enable>1</enable>
				<attribute_blacklist>customerPasswordHash
customerRpToken
customerRpTokenCreatedAt</attribute_blacklist>
                <add_to_cart_event_name>add-to-cart</add_to_cart_event_name>
            </general>
        </tagintegration>
        <mapp_gtm>
            <general>
                <gtm_enable>1</gtm_enable>
                <gtm_datalayer>dataLayer</gtm_datalayer>
                <gtm_trigger_basket>mapp.load</gtm_trigger_basket>
                <gtm_add_to_cart_eventname>add-to-cart</gtm_add_to_cart_eventname>
            </general>
        </mapp_gtm>
        <mapp_connect>
            <general>
                <enable>1</enable>
            </general>
            <export>
                <sync_method>0</sync_method>
                <product_enable>1</product_enable>
                <product_image_cache_enable>1</product_image_cache_enable>
                <product_image_generate_enable>0</product_image_generate_enable>
                <customer_enable>1</customer_enable>
                <transaction_enable>1</transaction_enable>
                <transaction_retry_max>10</transaction_retry_max>
                <newsletter_enable>1</newsletter_enable>
                <newsletter_retry_max>10</newsletter_retry_max>
                <transaction_send_on_status>new</transaction_send_on_status>
            </export>
        </mapp_connect>
        <mapp_connect_messages>
            <general>
                <enable>1</enable>
            </general>
        </mapp_connect_messages>
        <mapp_acquire>
            <general>
                <enabled>1</enabled>
            </general>
        </mapp_acquire>
        <mapp_web_push>
            <general>
                <enable>1</enable>
            </general>
            <firebase>
                <firebase_version>8.9.1</firebase_version>
            </firebase>
            <pixel>
                <webpush_script_included>false</webpush_script_included>
                <use_user_matching>true</use_user_matching>
                <include_firebase_scripts>false</include_firebase_scripts>
            </pixel>
        </mapp_web_push>
        <mapp_logging>
            <general>
                <enable_logging>0</enable_logging>
                <enable_db_logging>0</enable_db_logging>
                <enable_file_logging>0</enable_file_logging>
                <severity>2</severity>
                <log_lifetime>31</log_lifetime>
            </general>
        </mapp_logging>
    </default>
</config>
