<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="mapp_connect_customer_update_observer" instance="MappDigital\Cloud\Observer\CustomerUpdate" />
    </event>
</config>
