<?xml version="1.0" ?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2023 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MappDigital_Cloud">
        <sequence>
            <module name="Magento_Eav"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Newsletter"/>
            <module name="Magento_Store"/>
            <module name="Magento_Payment"/>
            <module name="Magento_Sales"/>
        </sequence>
    </module>
</config>
