<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2022 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="robots" xsi:type="array">
                    <item name="class" xsi:type="string">MappDigital\Cloud\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">10</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Result\Layout">
        <plugin name="add_webpush_firebase_layout_handle"
                type="MappDigital\Cloud\Plugin\AddWebpushFirebaseLayoutHandlePlugin" />
    </type>
</config>
