<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2022 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="checkout_cart_product_add_after">
        <observer name="ti_datalayer_add_to_cart" instance="MappDigital\Cloud\Observer\TIDatalayerAddToCart" />
    </event>
	<event name="checkout_onepage_controller_success_action">
        <observer name="ti_datalayer_order_success" instance="MappDigital\Cloud\Observer\TIDatalayerOrderSuccess" />
    </event>
    <event name="multishipping_checkout_controller_success_action">
        <observer name="ti_datalayer_order_success" instance="MappDigital\Cloud\Observer\TIDatalayerOrderSuccess" />
    </event>
</config>
