<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2023 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="mappdigital_cloud" frontName="mappdigital_cloud">
            <module before="Magento_Backend" name="MappDigital_Cloud" />
        </route>
        <route id="mapp_connect" frontName="mapp_connect">
            <module before="Magento_Backend"  name="MappDigital_Cloud"/>
        </route>
    </router>
</config>
