<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2021 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mapp" translate="label" sortOrder="400">
            <label>Mapp Cloud</label>
        </tab>
		<section id="tagintegration" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mapp Intelligence - Tag Integration</label>
            <tab>mapp</tab>
            <resource>MappDigital_Cloud::tagintegration</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable tracking via Mapp Tag Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <tooltip>
                        Here you can activate and deactivate the Mapp Intelligence extension.
                    </tooltip>
                </field>
				<field id="tagintegration_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>TagIntegration ID</label>
					<tooltip>
                        Enter your TagIntegration customer ID here, if the TagIntegration file should be loaded from a Mapp server.
                    </tooltip>
					<depends>
                        <field id="*/*/enable">1</field>
                    </depends>
					<validate>validate-number</validate>
                </field>
				<field id="tagintegration_domain" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>TagIntegration Domain</label>
					<tooltip>
                        Enter the TagIntegration domain here, if the TagIntegration file should be loaded from a Mapp server.
                    </tooltip>
					<depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
				<field id="custom_domain" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Domain</label>
					<tooltip>
                        Enter your domain here, if the TagIntegration file should be loaded from your server.
                    </tooltip>
					<depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
				<field id="custom_path" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Path</label>
					<tooltip>
                        Enter the path to your JavaScript file here, if the TagIntegration file should be loaded from your server.
                    </tooltip>
					<depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="attribute_blacklist" translate="label" type="textarea" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attribute Blacklist</label>
                    <tooltip>
                        You can put here a list of all attributes that should be filtered out of the data layer, separated by semicolon. For example you can exclude the following attributes like this "customer*", "orderPayment*", "orderBilling*" und "orderShipping*".
                    </tooltip>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
                <field id="add_to_cart_event_name" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add-to-cart Eventname</label>
                    <tooltip>
                        Enter the name for the Add-to-cart event.
                    </tooltip>
                    <depends>
                        <field id="*/*/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="mapp_gtm" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Mapp Intelligence - Google Tag Manager</label>
        <tab>mapp</tab>
        <resource>MappDigital_Cloud::mapp_gtm</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
                <field id="gtm_enable" translate="label comment" type="select" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable tracking via Google Tag Manager</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <tooltip>
                        Activate if you want to use Mapp Intelligence via Google Tag Manager
                    </tooltip>
                </field>
                <field id="gtm_load" translate="label comment" type="select" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Load GTM via Mapp Cloud</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <tooltip>
                        Activate if you want to load Google Tag Manager via Mapp Cloud plugin, keep deactivated if you load GTM elsewhere (other plugin, theme etc.)
                    </tooltip>
                    <depends>
                        <field id="*/*/gtm_enable">1</field>
                    </depends>
                </field>
                <field id="gtm_id" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTM ID</label>
                    <tooltip>
                        Enter your GTM ID
                    </tooltip>
                    <depends>
                        <field id="*/*/gtm_enable">1</field>
                        <field id="*/*/gtm_load">1</field>
                    </depends>
                </field>
                <field id="gtm_datalayer" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTM datalayer variable name</label>
                    <tooltip>
                        Enter the name of the datalayer variable (default: dataLayer)
                    </tooltip>
                    <depends>
                        <field id="*/*/gtm_enable">1</field>
                    </depends>
                </field>
                <field id="gtm_trigger_basket" translate="label" type="text" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>GTM add-to-basket trigger name</label>
                    <tooltip>
                        If you change the name, you have to create a custom trigger and tag in GTM to send add-to-basket requests to Intelligence. This will give you more flexibility, but needs a bit more configuration effort on GTM side. Keep mapp.load if you want to use the same tag for the add-to-basket events as you use for the other page requests.
                    </tooltip>
                    <depends>
                        <field id="*/*/gtm_enable">1</field>
                    </depends>
                </field>
                <field id="gtm_add_to_cart_eventname" translate="label" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add-to-cart eventname</label>
                    <tooltip>
                        If you use mapp.load as a trigger for add-to-basket events, you can define the event name here. This will be the event name as displayed in the Mapp Intelligence frontend.
                    </tooltip>
                    <depends>
                        <field id="*/*/gtm_enable">1</field>
                        <field id="*/*/gtm_trigger_basket">mapp.load</field>
                    </depends>
                </field>
            </group>
        </section>
        <section id="mapp_acquire" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Mapp Acquire</label>
            <tab>mapp</tab>
            <resource>MappDigital_Cloud::mapp_acquire</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="acquire" translate="label" type="textarea" sortOrder="2000" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mapp Acquire script</label>
                    <tooltip>
                        If you use Mapp Acquire alongside Mapp Intelligence, please add your Mapp Acquire tracking script here.
                    </tooltip>
                </field>
            </group>
        </section>
        <section id="mapp_connect" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mapp Engage (Connect) - General</label>
            <tab>mapp</tab>
            <resource>MappDigital_Cloud::mapp_connect</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="base_url" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mapp Connect API URL</label>
                    <comment>URL to Mapp Connect API</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Source\BaseURL</source_model>
                </field>
                <field id="base_url_custom" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Mapp Connect custom API URL</label>
                    <depends>
                        <field id="base_url">custom</field>
                    </depends>
                </field>
            </group>
            <group id="integration" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Integration Configuration</label>
                <field id="integration_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_id" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration ID</label>
                    <comment>Integration ID generated in Mapp Engage.</comment>
                </field>
                <field id="integration_secret" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Secret</label>
                    <comment>Integration Secret generated in Mapp Engage.</comment>
                </field>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Connection Status</label>
                    <comment>Integration Connection Status with Mapp Connect. You may need to clean the config cache to see the up to date status</comment>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\ConnectionStatus</frontend_model>
                </field>
            </group>
            <group id="export" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Export Connection Configuration</label>
                <field id="sync_method" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Synchronisation method</label>
                    <source_model>MappDigital\Cloud\Model\Config\Source\SyncMethod</source_model>
                    <backend_model>MappDigital\Cloud\Model\Adminhtml\System\Config\Backend\Connect\TriggerManagement</backend_model>
                </field>
                <field id="customer_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Customer Synchronisation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="transaction_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sales Transaction Synchronisation</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="transaction_send_on_status" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Transaction send on status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status</source_model>
                    <backend_model>MappDigital\Cloud\Model\Adminhtml\System\Config\Backend\Connect\OrderSubscriptionTriggerOnSave</backend_model>
                    <comment>IMPORTANT: Changing this will update DB triggers.</comment>
                    <depends>
                        <field id="transaction_enable">1</field>
                    </depends>
                </field>
                <field id="newsletter_enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter Synchronization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="newsletter_doubleoptin" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Newsletter double opt in</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                    <depends>
                        <field id="newsletter_enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="group" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mapp Engage Group configuration</label>
                <field id="customers" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Customers Group</label>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Group</source_model>
                </field>
                <field id="subscribers" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Subscribers Group</label>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Group</source_model>
                </field>
                <field id="guests" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Guests Group</label>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Group</source_model>
                </field>
            </group>
        </section>
        <section id="mapp_connect_messages" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mapp Engage (Connect) - Emails</label>
            <tab>mapp</tab>
            <resource>MappDigital_Cloud::mapp_connect</resource>
            <group id="general" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Emails Via Mapp</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
            </group>
            <group id="order" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Order Confirmation Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>New Order Confirmation Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="order_comment" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Order Comments</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Comment Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Order Comment Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="invoice" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoice</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Invoice Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Invoice Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="invoice_comment" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Invoice Comments</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Invoice Comment Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Invoice Comment Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="shipment" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipment</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipment Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipment Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="shipment_comment" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Shipment Comments</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipment Comment Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Shipment Comment Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="creditmemo" translate="label" type="text" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Memo</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Memo Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Memo Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="creditmemo_comment" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credit Memo Comments</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Memo Comment Email Template</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="guest_template" translate="label comment" type="select" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Credit Memo Comment Email Template for Guest</label>
                    <comment>Selecting the Magento Default option will continue to use Magento's email transport. Any others will go via Mapp's email connection</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="create_account" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Create New Account Emails</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Welcome Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="email_no_password_template" translate="label comment" type="select" sortOrder="75" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default Welcome Email Without Password</label>
                    <comment><![CDATA[
                        This email will be sent instead of the Default Welcome Email, if a customer was created without password. <br /><br />
                        Email template chosen based on theme fallback when "Default" option is selected.
                    ]]></comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="email_confirmation_template" translate="label comment" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Confirmation Link Email</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="email_confirmed_template" translate="label comment" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Welcome Email</label>
                    <comment><![CDATA[
                        This email will be sent instead of the Default Welcome Email, after account confirmation. <br /><br />
                        Email template chosen based on theme fallback when "Default" option is selected.
                    ]]></comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="password" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Password Emails</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="forgot_email_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Forgot Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="remind_email_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Remind Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="reset_password_template" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Reset Password Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="account_information" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Account Information Options</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="change_email_template" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Change Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="change_email_and_password_template" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Change Email and Password Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="sendfriend" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Email to a Friend</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Select Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="productalert" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Alerts</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="email_price_template" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Price Alert Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
                <field id="email_stock_template" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Stock Alert Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
            <group id="wishlist" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Wish List</label>
                <field id="integration_connection" translate="label" type="password" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Functionality Disabled</label>
                    <frontend_model>MappDigital\Cloud\Block\Adminhtml\Config\Connect\EmailStatus</frontend_model>
                    <depends>
                        <field id="*/general/enable">0</field>
                    </depends>
                </field>
                <field id="email_template" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>MappDigital\Cloud\Model\Config\Backend\Template</source_model>
                    <depends>
                        <field id="*/general/enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
