<?xml version="1.0"?>
<!--
/**
 * @author Mapp Digital
 * @copyright Copyright (c) 2021 Mapp Digital US, LLC (https://www.mapp.com)
 * @package MappDigital_Cloud
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MappDigital_Cloud::tagintegration" title="Mapp Tag Integration" />
                            <resource id="MappDigital_Cloud::mapp_gtm" title="Mapp Google Tag Manager" />
                            <resource id="MappDigital_Cloud::mapp_acquire" title="Mapp Acquire" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
